.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.income-expense {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

input,
button {
  padding: 10px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  width: auto;
  padding: 5px 10px;
  cursor: pointer;
}
.plus {
  border-right: 5px solid green;
}

.minus {
  border-right: 5px solid red;
}